<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .bg-body {
            background-color: #e3e7eb;
            padding-bottom: 25px;
        }
        .bg-body2 {
            background-color: white;
            padding-top: 25px;
        }
    </style>
</head>
<body>
    <div class="bg-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="assets/img/logo-dumbways.png" alt="" width="50" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link navbar-brand active text-black" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/testimonial">Testimonials</a>
                </li>
            </ul>
                {{#if addLogin}}
                <a class="nav-link text-dark" href="/register">Hallo, {{users}}</a>
                <a class="nav-link text-dark" href="/logout">Logout</a>
                {{else}}
                <a class="nav-link text-dark" href="/register">Register</a>
                <a class="nav-link text-dark" href="/login">Login</a>
                {{/if}}
            <a href="/contact" class="btn btn-dark my-2 my-sm-0 rounded-pill">Contact me</a>
        </div>
    </nav>
    </div>
    <div class="bg-body2">
            {{#each data}}
                <div class="card mb-3" style="width: 100%;">
                    {{#if ../addLogin}}
                            <div class="d-flex flex-row-reverse mt-3">
                                <a href="/delete/{{this.id}}">
                            <button class="btn btn-dark rounded px-5 mx-2">delete</button>
                                </a>
                                <a href="/edit-project/{{this.id}}">
                            <button class="btn btn-dark rounded px-5 mx-2">edit</button>
                                </a>
                            </div>
                            {{/if}}
                    <div class="row g-0">
                        <div class="col-4">
                            <a href="/project-detail/{{this.id}}">
                                <img src="assets/img/{{this.uploadImage}}" class="card-img-top p-3" alt="project image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/project-detail/{{this.id}}"><h5 class="card-title">{{this.projectName}}</h5></a>
                                <p>Author: {{this.author}}</p>
                                <p class="card-text"><small class="text-body-secondary">durasi : {{this.duration}} bulan</small></p>
                                <p class="card-text">{{this.description}}</p>
                            </div>
                                <div class="d-flex my-2 justify-content-start mx-auto">
                                    {{#if this.nodeJs}}
                                        <img class="mx-3" src="assets/img/logo-playstore.png" alt="" width="30" height="30">
                                    {{/if}}
                                    {{#if this.nextJs}}
                                        <img class="mx-3" src="assets/img/logo-android.png" alt="" width="31" height="31">
                                    {{/if}}
                                    {{#if this.reactJs}}
                                        <img class="mx-3" src="assets/img/logo-java.png" alt="" width="29" height="29">
                                    {{/if}}
                                    {{#if this.typeScript}}
                                        <img class="mx-3" src="assets/img/logo-javascript.png" alt="" width="32" height="32">
                                    {{/if}}
                                </div>
                            
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{!-- <script src="assets/js/project.js"></script> --}}
</body>
</html>