<!DOCTYPE html>
<html>
<head>
    <title>Add My Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .bg-body {
            background-color: #e3e7eb;
            padding-bottom: 25px;
        }
        .bg-body2 {
            background-color: white;
            padding-top: 25px;
        }
    </style>
</head>
<body>
    <div class="bg-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="assets/img/logo-dumbways.png" alt="" width="50" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-black" href="/project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/testimonial">Testimonials</a>
                </li>
            </ul>
                <a class="nav-link text-dark" href="/register">Register</a>
                <a class="nav-link text-dark" href="/login">Login</a>
            <a href="/contact" class="btn btn-dark my-2 my-sm-0 rounded-pill">Contact me</a>
        </div>
    </nav>
        <h1 class="text-center my-5">ADD MY PROJECT</h1>
        <form action="/project" method="post" class="container w-50">
            <div class="mb-3">
                <label class="form-label" for="projectName">Project Name</label>
                <input class="form-control" id="projectName" name="projectName" type="text">
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <label for="startDate">Start Date</label>
                    <input class="form-control" id="startDate" name="startDate" type="date">
                </div>
                <div class="col-6">
                    <label for="endDate">End Date</label>
                    <input class="form-control" id="endDate" name="endDate" type="date">
                </div>
            </div>
            <div class="mb-3 mt-4">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <div>
                <label class="form-label mt-4 mx-0">Technologies</label>
                <div class="row mx-auto">
                    <div class="col-5">
                        <div class="p-3">
                            <input class="custom-control-input" type="checkbox" name="nodeJs" id="nodeJs">
                            <label class="custom-control-label label-font" for="nodeJs">Node Js</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="p-3">
                            <input class="custom-control-input" type="checkbox" name="nextJs" id="nextJs">
                            <label class="custom-control-label label-font" for="nextJs">Next Js</label>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col-5">
                        <div class="p-3">
                            <input class="custom-control-input" type="checkbox" name="reactJs" id="reactJs">
                            <label class="custom-control-label label-font" for="reactJs">React Js</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="p-3 mb-3">
                            <input class="custom-control-input" type="checkbox" name="typeScript" id="typeScript">
                            <label class="custom-control-label label-font" for="typeScript">TypeScript</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="uploadImage" class="form-label"><img src="assets/img/painting-mountain.jpg" class="p-3" width="150" height="100" alt="image upload"></label>
                <div class="custom-file pmd-custom-file-filled">
                    
                    <input id="uploadImage" name="uploadImage" type="file" class="custom-file-input" >
                    <label class="custom-file-label" for="uploadImage">Upload Image</label>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn-submit btn btn-dark rounded-pill">Submit</button>
            </div>
        </form>
        <br>
        <hr>
        <div class="bg-body2">
            <h1 class="text-center my-5">MY PROJECT</h1>
            <div id="contents" class="d-flex flex-wrap justify-content-center m-3">
                {{#each data}}
                 <div class="card rounded d-flex flex-wrap m-4" style="width: 20rem;">
                    <a href="/project-detail/{{this.id}}">
                        <img src="assets/img/{{this.uploadImage}}" class="card-img-top p-3" alt="project image">
                    </a>
                    <div class="card-body">
                        <a href="/project-detail/{{this.id}}">
                        <h3 class="card-title">{{this.projectName}}</a></h3>
                        <p class="card-text">durasi : {{this.duration}} bulan</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>
                    </div>
                    <div class="d-flex my-2 justify-content-start mx-auto">
                        {{#if this.nodeJs}}
                            <img class="mx-3" src="assets/img/logo-playstore.png" alt="" width="30" height="30">
                        {{/if}}
                        {{#if this.nextJs}}
                            <img class="mx-3" src="assets/img/logo-android.png" alt="" width="31" height="31">
                        {{/if}}
                        {{#if this.reactJs}}
                            <img class="mx-3" src="assets/img/logo-java.png" alt="" width="29" height="29">
                        {{/if}}
                        {{#if this.typeScript}}
                            <img class="mx-3" src="assets/img/logo-javascript.png" alt="" width="32" height="32">
                        {{/if}}
                    </div>
                    <div class="card-body d-flex">
                        <button class="btn btn-dark w-50 rounded py-0 mx-1">
                            <a href="/edit-project/{{this.id}}">edit</button></a>
                        <button class="btn btn-dark w-50 rounded py-0 mx-1">
                            <a href="/delete/{{this.id}}">delete</button></a>
                    </div>
                </div> 
                {{/each}}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{!-- <script src="assets/js/project.js"></script> --}}
</body>
</html>