<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .bg-body {
            background-color: #e3e7eb;
            padding-bottom: 25px;
        }
        .bg-body2 {
            background-color: white;
            padding-top: 25px;
        }
    </style>
</head>
<body>
    <div class="bg-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="assets/img/logo-dumbways.png" alt="" width="50" height="35">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-black" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/project">Add Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/testimonial">Testimonials</a>
                    </li>
                </ul>
                <a href="/contact" class="btn btn-dark my-2 my-sm-0 rounded-pill">Contact me</a>
            </div>
        </nav>
    </div>
    <div class="bg-body2">
        <h1 class="text-center my-5">MY PROJECT</h1>
        <div id="contents" class="d-flex flex-column justify-content-start m-3">
            <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-4">
                            <a href="/project-detail/{{@index}}">
                                <img src="assets/img/painting-mountain.jpg" class="card-img-top p-3" alt="project image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/project-detail/{{@index}}">
                                    <h5 class="card-title">Art and Technologies</h5>
                                </a>
                                <p class="card-text"><small class="text-muted">durasi : 3 bulan</small></p>
                                <p class="card-text">Painting is an art form that involves the application 
                                    of pigments to a surface, usually a canvas or paper. It can be done using 
                                    various tools, such as brushes, palette knives, or even fingers. Artists 
                                    use paints to create images, express emotions, and convey ideas..</p>
                            </div>
                            <div class="d-flex my-2 justify-content-start mx-auto">
                                    <img class="mx-3" src="assets/img/logo-playstore.png" alt="" width="30" height="30">
                                    <img class="mx-3" src="assets/img/logo-android.png" alt="" width="31" height="31">
                                    <img class="mx-3" src="assets/img/logo-java.png" alt="" width="29" height="29">
                                    <img class="mx-3" src="assets/img/logo-javascript.png" alt="" width="32" height="32">
                            </div>
                            <div class="d-flex mt-3">
                                    <button class="btn btn-dark w-50 rounded p-1 mx-2">edit</button>
                                    <button class="btn btn-dark w-50 rounded p-1 mx-2">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{#each data}}
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-4">
                            <a href="/project-detail/{{@index}}">
                                <img src="assets/img/{{this.uploadImage}}" class="card-img-top p-3" alt="project image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/project-detail/{{@index}}"><h5 class="card-title">{{this.projectName}}</h5></a>
                                <p class="card-text"><small class="text-body-secondary">durasi : {{this.duration}} bulan</small></p>
                                <p class="card-text">{{this.description}}</p>
                            </div>
                                <div class="d-flex my-2 justify-content-start mx-auto">
                                    {{#if this.nodeJs}}
                                        <img class="mx-3" src="assets/img/logo-playstore.png" alt="" width="30" height="30">
                                    {{/if}}
                                    {{#if this.nextJs}}
                                        <img class="mx-3" src="assets/img/logo-android.png" alt="" width="31" height="31">
                                    {{/if}}
                                    {{#if this.reactJs}}
                                        <img class="mx-3" src="assets/img/logo-java.png" alt="" width="29" height="29">
                                    {{/if}}
                                    {{#if this.typeScript}}
                                        <img class="mx-3" src="assets/img/logo-javascript.png" alt="" width="32" height="32">
                                    {{/if}}
                                </div>
                                <div class="d-flex mt-3">
                                <a href="/edit-project/{{@index}}">
                                    <button class="btn btn-dark w-50 rounded p-1 mx-2">
                                        edit</a>
                                    </button>
                                    <a href="/delete/{{@index}}">
                                    <button class="btn btn-dark w-50 rounded p-1 mx-2">
                                        delete</a>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {{!-- <script src="assets/js/project.js"></script> --}}
</body>
</html>