<!DOCTYPE html>
<html>
<head>
    <title>Project Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #e3e7eb;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo-dumbways.png" alt="" width="50" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/project">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/testimonial">Testimonials</a>
                </li>
            </ul>
                {{#if addLogin}}
                <a class="nav-link navbar-brand text-dark" href="#">Hallo, {{users}}</a>
                <a class="nav-link text-dark" href="/logout">Logout</a>
                {{else}}
                <a class="nav-link text-dark" href="/register">Register</a>
                <a class="nav-link text-dark" href="/login">Login</a>
                {{/if}}
            <a href="/contact" class="btn btn-dark my-2 my-sm-0 rounded-pill">Contact me</a>
        </div>
    </nav>
    
    <h1 class="text-center my-5">Dumbways Web App - {{data.projectName}}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/img/{{data.uploadImage}}" alt="paintings" width="100%" height="100%">
            </div>
            <div class="col-md-6">
                <p>Author: {{data.author}}</p>
                <h3 class="mt-4">Duration</h3>
                <p id="startDateParagraph">
                    <img src="/assets/img/calendar.png" width="20" height="20" alt="Date">{{data.startDate}}/{{data.endDate}}
                </p>
                <p id="durationParagraph">
                  <img src="/assets/img/clock-logo.png" width="20" height="20" alt="Duration">{{data.duration}} month
                </p>
                <h3 class="mt-4">Technologies</h3>
                <div class="row">
                    <div class="col-6">
                        <p>
                            <img src="/assets/img/react.png" alt="react" width="20" height="20">React JS
                        </p>
                        <p>
                            <img src="/assets/img/javascript.png" alt="javascript" width="20" height="20">Javascript
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            <img src="/assets/img/node.png" alt="node" width="20" height="20">Node Js
                        </p>
                        <p>
                            <img src="/assets/img/socket-io.png" alt="socket-io" width="20" height="20">Socket IO
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col text-justify">
              <p>{{data.description}}</p>    
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>